.flashy {
  color: red;
  font-style: italic;
  text-align: center;
}

body {
  padding-left: 100px;
  padding-right: 100px;
}

div.intro {
  color: salmon;
  text-align: center;
  display: block;
  margin:auto;
}

@media screen and (min-width: 1000px) {
  body {
    background-color: orange;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px){
  body {
    background-color: blue;
  }
}

@media screen and (min-width: 300px) and (max-width: 480px){
  body {
    background-color: purple;
  }
}
