.flashy {
  color: red;
  font-style: italic;
  text-align: center;
}

body {
  padding-left: 100px;
  padding-right: 100px;
}

div.intro {
  color: salmon;
  text-align: center;
  display: block;
  margin:auto;
}
